In [1]:
df = spark.read.csv('sales.csv', header=True, inferSchema=True)

In [2]:
#Q1
df.select('Country').distinct().show()

+-------------+
|      Country|
+-------------+
|       Sweden|
|       Jersey|
|     Malaysia|
|       Turkey|
|      Germany|
|       France|
|      Belgium|
|      Finland|
|United States|
|        India|
|       Kuwait|
|        Malta|
|        Italy|
|       Norway|
|        Spain|
|      Denmark|
|      Ireland|
|       Israel|
|      Iceland|
|  South Korea|
+-------------+
only showing top 20 rows

In [3]:
#Q2
df.filter("Country = 'Brazil'").select('Name','Price').show()

+-------+-----+
|   Name|Price|
+-------+-----+
|Joachim| 1200|
|  Diana| 7500|
+-------+-----+

In [4]:
#Q3
df.groupBy('Country').sum('Price').withColumnRenamed('sum(Price)', 'TotalPrice').show()

+-------------+----------+
|      Country|TotalPrice|
+-------------+----------+
|       Sweden|      8400|
|       Jersey|      1200|
|     Malaysia|      1200|
|       Turkey|      2400|
|      Germany|     22800|
|       France|     30300|
|      Belgium|      3600|
|      Finland|      1200|
|United States|    350350|
|        India|      2400|
|       Kuwait|      1200|
|        Malta|      3600|
|        Italy|      2400|
|       Norway|     12000|
|        Spain|      2400|
|      Denmark|      8400|
|      Ireland|     29100|
|       Israel|      1200|
|      Iceland|      1200|
|  South Korea|      1200|
+-------------+----------+
only showing top 20 rows

In [5]:
#Q4
df.groupBy('Country').sum('Price').orderBy('sum(Price)', ascending=False).select('Country').show()

+--------------------+
|             Country|
+--------------------+
|       United States|
|      United Kingdom|
|              Canada|
|              France|
|             Ireland|
|           Australia|
|             Germany|
|         Switzerland|
|         Netherlands|
|              Norway|
|              Brazil|
|              Sweden|
|             Denmark|
|             Austria|
|United Arab Emirates|
|        South Africa|
|             Belgium|
|               Malta|
|         New Zealand|
|               Italy|
+--------------------+
only showing top 20 rows

In [11]:
df2 = spark.read.csv('countries.csv', header=True, inferSchema=True)

In [18]:
#Q5
df.join(df2, 'Country').groupBy('ID').sum('Price').withColumnRenamed('sum(Price)', 'TotalPrice').show()

+---+----------+
| ID|TotalPrice|
+---+----------+
| 31|      1200|
| 34|      2400|
| 28|      3600|
| 26|      3600|
| 27|      1200|
| 12|     19200|
| 22|      3600|
|  1|     63600|
| 13|      8400|
|  6|     14400|
| 16|     12000|
|  3|     22800|
| 20|      1200|
|  5|     30300|
| 19|     22800|
| 15|      8400|
|  9|      2400|
| 17|      1200|
|  4|      1200|
|  8|     42000|
+---+----------+
only showing top 20 rows

In [33]:
#Q6
from pyspark.sql.functions import *

numOfIterations = 10

lines = spark.read.text("pagerank_data.txt")
# You can also test your program on the follow larger data set:
# lines = spark.read.text("dblp.in")

a = lines.select(split(lines[0],' '))
links = a.select(a[0][0].alias('src'), a[0][1].alias('dst'))
outdegrees = links.groupBy('src').count()
ranks = outdegrees.select('src', lit(1).alias('rank'))
for iteration in range(numOfIterations):
    temp = links.join(ranks,'src').join(outdegrees, 'src')
    temp = temp.select(temp['dst'].alias('src'),(temp['rank']/temp['count']).alias('Newrank'))\
            .groupBy('src').sum('Newrank').withColumnRenamed('sum(Newrank)', 'rank')
    ranks = temp.select('src',(temp['rank'] * 0.85 + 0.15).alias('rank'))
ranks.orderBy(desc('rank')).show()

+---+------------------+
|src|              rank|
+---+------------------+
|  1|1.2981882732854677|
|  3|0.9999999999999998|
|  4|0.9999999999999998|
|  2|0.7018117267145316|
+---+------------------+

In [54]:
from pyspark.sql.functions import *

numOfIterations = 10

lines = spark.read.text("pagerank_data.txt")
# You can also test your program on the follow larger data set:
# lines = spark.read.text("dblp.in")

a = lines.select(split(lines[0],' '))
links = a.select(a[0][0].alias('src'), a[0][1].alias('dst'))
outdegrees = links.groupBy('src').count()
ranks = outdegrees.select('src', lit(1).alias('rank'))
for iteration in range(numOfIterations):
    temp = links.join(ranks,'src').join(outdegrees, 'src')
    temp = temp.select(temp['dst'].alias('src'),(temp['rank']/temp['count']).alias('Newrank'))\
            .groupBy('src').sum('Newrank').withColumnRenamed('sum(Newrank)', 'rank')
    ranks = temp.select('src',(temp['rank'] * 0.85 + 0.15).alias('rank'))
ranks.orderBy(desc('rank')).show()

SyntaxError: invalid character in identifier (<ipython-input-54-c81b3c530e19>, line 16)